extends ../../../layouts/default

include ../../../mixins/post
include ../../../mixins/user/profile

block intro
	.page-intro: .container
		+user-profile(data.author, false)

block content
	.page-content
		.row
			if data.posts.length
				.post-cards.row(itemscope itemtype="http://schema.org/Article")
					each post in data.posts
						+post(post)
			else
				h3.text-muted There are no posts yet.
