mixin post-card(post)
	.col-xs-12.col-sm-6
		.card
			.tile.front
				.card-main
					a(href='/article/post/' + post.slug, itemprop='url')
						.card-image(style={background: 'url(' + (post.image.secure_url || '/images/post-default-cover.jpg') + ')  no-repeat center center'})
						section.card-body
							p.datestamp
								time(datetime=post._.publishedDate.format('YYYY-MM-DD'), itemprop='datePublished')=post._.publishedDate.format('MMMM D, YYYY')
							p.card-tags
								each category in post.categories
									span= category.name
							h2.card-heading= post.title
				section.chart
					.rating-bar-1.rating-small
					.rating-bar-2.rating-large
				footer.card-footer
					ul.card-links
						li
							a(href='#') Preview
						li
							a(href='#') Download
