mixin post-card(post)
	.col-xs-12.col-sm-6.col-md-4
		.card
			.tile.front
				.card-main
					a(href='/article/post/' + post.slug, itemprop='url')
						.card-image-holder(style=({'background-image': 'url(' + (post._.image.thumbnail(280, 200, {crop: 'fill'}) || '/images/post-default-cover.jpg') +')'}))
					section.card-body
						p.datestamp
							time(datetime=post._.publishedDate.format('YYYY-MM-DD'), itemprop='datePublished')=post._.publishedDate.format('MMMM D, YYYY')
						p.card-tags.post-byline
							each category in post.categories
								span.post-category= category.name
						h2.card-heading= post.title
						!= post.content.brief
					ul.link-list
						a(href='/article/post/' + post.slug, itemprop='url')
							| 閱讀更多
