mixin post-card(post)
	.col-xs-12.col-sm-6.col-md-4
		.card
			.tile.front
				.card-main
					a(href='/article/post/' + post.slug, itemprop='url')
						//- .card-image(style={background: 'url(' + (post.image.secure_url || '/images/post-default-cover.jpg') + ')  no-repeat center center'})
						.card-image-holder
							img.card-image(src=(post.image.secure_url || '/images/post-default-cover.jpg'))
						section.card-body
							p.datestamp
								time(datetime=post._.publishedDate.format('YYYY-MM-DD'), itemprop='datePublished')=post._.publishedDate.format('MMMM D, YYYY')
							p.card-tags.post-byline
								each category in post.categories
									span.post-category= category.name
							h2.card-heading= post.title
							!= post.content.brief
