/**
*
* VegsocHK Download Center
*
**/
@download-center-bg: white;

#download-center {
	.download-center-header {

	}

	.download-center-download-button {
		color: #fff;
    background: @link-color;
    border-radius: 2px;
    font-size: 0.6875rem;
    padding: 3px 10px;
    transition: background 0.3s ease;
    &:hover {
      background: @link-hover-color;
      text-decoration: none;
    }
	}

	.download-center-main {
		padding: 1em 0 3em;
		.download-center-hero {
			width: 100%;
			max-height: 600px;
			background: url("/images/downloadCenter/download-center-hero.jpg") center center / cover no-repeat;
			img {
				margin: auto;
			}
		}
		.download-center-buttons {

		}
	}

	.download-center-item-image {
		img {
			width: 100%;
		}
	}

	.download-center-item-description {
		padding: 0.5em;
		p {
			text-overflow: ellipsis;
		}
	}
	section {
		padding: 2em 0;
	}
}
