/*  COLORS  */
@x-light-gray: #f1f2f3;
@light-gray: #a7aab0;
@med-gray: #636568;
@dark-gray: #2f3032;
@link-color: #66a5e9;
@link-hover-color: #4785C7;
@card-image-height: 200px;
@card-body-height: 200px;


/* ARTICLES */

.card {
  background: #fff;
  border-radius: 2px;
  margin: 10px;
  overflow: visible;;
  box-shadow: 0 1px 4px rgba(0,0,0,0.075);
  transition: all .15s cubic-bezier(.33,.66,.66,1);
  border-radius: 1px;
  box-shadow: -1px 0 2px 0 rgba(0,0,0,0.12) , 1px 0 2px 0 rgba(0,0,0,0.12) , 0 1px 1px 0 rgba(0,0,0,0.24);
  // &:hover {
  //   box-shadow: -2px 0 2px 0 rgba(0,0,0,0.16),2px 0 2px 0 rgba(0,0,0,0.16) , 0 2px 2px 0 rgba(0,0,0,0.23);
  //   transform: translate3d(0,-3px,0);
  // }
}

.card-main {
  a {
    text-decoration: none;
    color: #555;
  }
  &:hover {
    .card-heading {
      color: rgba(0, 0, 0, 0.6);;
    }
  }

  .link-list {
    position: absolute;
    bottom: 0;
    right: -28px;
    margin-top: 0;
    list-style-type: none;
    text-align: right;

    a {
      display: inline-block;
      background-color: rgba(165, 209, 49, 0.5);
      text-decoration: none;
      font-weight: 500;
      color: black;
      margin: 1px 0;
      padding: 9px 13px 7px;
      text-transform: uppercase;
      font-size: 12px;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 100%;
      overflow: hidden;
      -webkit-transition: all ease-in-out .1s;
      transition: all ease-in-out .1s;
      vertical-align: middle;
      border-radius: 1px;

      &:hover {
        box-shadow: -2px 0 2px 0 rgba(0,0,0,0.16),2px 0 2px 0 rgba(0,0,0,0.16) , 0 2px 2px 0 rgba(0,0,0,0.23);
        transform: translate3d(0,-3px,0);
      }

      &:before {
        content: '>';
        padding-right: .6em;
        font-size: .85em;
        vertical-align: .18em;
      }
    }
  }
}

.card-image-holder {
  height: @card-image-height;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  -webkit-filter: grayscale(0) blur(0);
	filter: grayscale(0) blur(0);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;

  &:hover {
    -webkit-filter: grayscale(100%) blur(3px);
  	filter: grayscale(100%) blur(3px);
  }
}

.datestamp {
  display: inline-block;
  padding: 3px 8px;
  border-radius: 2px;
  background: rgba(0,0,0,0.7);
  color: #fff;
  font-size: .68em;
   position: absolute;
  top: 198px;
  right: 0;
  border-radius: 2px 0 0 0;
}
.card-body {
  padding: 10px 0 0;
  height: @card-body-height;
  overflow: hidden;
  > * {
    text-overflow: ellipsis;
  }

  .post-byline {
    .clearfix();
    padding-bottom: @page-padding / 4;
    border-bottom: 1px solid @gray-darker;
    color: @gray-darker;
    font-size: @font-size-base * 0.85;
    font-weight: 400;

    text-transform: uppercase;
  }

  .post-category {
    margin-right: 5px;
  }
}
.card-heading {
  color: @dark-gray;
  font-size: 1.5em;
  font-weight: 300;
  margin-bottom: 16px;
  transition: color 0.5s ease;
}
.card-tags {
  color: @light-gray;
  font-size: .8125em;
  margin-bottom: .8125em;
}
.card-footer {
  border-top: 1px solid @x-light-gray;
  margin-top: 25px;
  padding: 1em 30px;
}
.card-links {
  list-style: none;
  padding: 0;
  margin: 0;
  & li {
    display: inline-block;
    margin: 0 0 2px 0;
  }
  & a {
    color: #fff;
    background: @link-color;
    border-radius: 2px;
    font-size: 0.6875rem;
    padding: 3px 10px;
    transition: background 0.3s ease;
    &:hover {
      background: @link-hover-color;
      text-decoration: none;
    }
  }
}
