extends ../../layouts/default

//- BODY
block content
	article.animal-rights
		.animal-rights-about-header
			img.animal-rights-about-header-cover-image(src="http://weanimals.org/pub/portfolio/Factory%20Farming/JMcArthur-0744.jpg")
			.top-container
				.row
					.col-xs-4
						p
							| On GeneLab we conduct research beyond gravity, search for answers in space, and make discoveries that push back the
							em frontiers of understanding
								| on Earth
			.mid-container
				.row
					.col-xs-2
						i.down-arrow.fa.fa-arrow-circle-down
					.col-xs-8
						h1
							| The science
							span
								|of GeneLab
			.bottom-container
				.col-xs-2
					.category
						| Sections —
				.col-xs-2
					.section-anchor
						| Pig
				.col-xs-2
					.section-anchor
						| Cow
				.col-xs-2
					.section-anchor				
						| Chicken
				.col-xs-2
					.section-anchor				
						| Margin Lives
		.animal-rights-about-container
			.section-title
				span
					| Section—
			.section-header
				.top-container
					.row					
						.col-xs-3
							span
								| 01
						.col-xs-4
							span
								| 愛上牛的十個理由
						.col-xs-4
				.mid-container
					.row
						.col-xs-3
							span.down-arrow
						.col-xs-8.headline-container
							h2
								| To see farther we look closer.
							p 
								| The science of GeneLab examines the fundamental building blocks of life itself. DNA. RNA. The structure of proteins. Molecular signaling processes. On GeneLab we conduct research beyond gravity and search for answers in space that one day will lead to discoveries that push back the frontiers of understanding on Earth
