extends ../../layouts/default

//- BODY
block content
	article.animal-rights
		.animal-rights-about-header
			img.animal-rights-about-header-cover-image(src="http://weanimals.org/pub/portfolio/Factory%20Farming/JMcArthur-0744.jpg")
			.top-container
				.row
					.col-sm-4.col-xs-12
						p
							| On GeneLab we conduct research beyond gravity, search for answers in space, and make discoveries that push back the
							em frontiers of understanding
								| on Earth
			.mid-container
				.row
					.col-sm-2.col-xs-12
						i.down-arrow.fa.fa-arrow-circle-down
					.col-sm-8.col-xs-12
						h1
							| The science
							span
								|of GeneLab
			.bottom-container
				.row.visible-lg.visible-md
					.col-sm-2
						.category
							| Sections —
					.col-sm-2
						.section-anchor
							| Pig
					.col-sm-2
						.section-anchor
							| Cow
					.col-sm-2
						.section-anchor				
							| Chicken
					.col-sm-2
						.section-anchor				
							| Margin Lives
		.animal-rights-about-container
			.section-title
				span
					| Section—
			.section-header
				.top-container
					.row					
						.col-sm-2
							span.top-bordered
								| 01
						.col-sm-1								
						.col-sm-3.top-bordered
							span.category
								| 愛上牛的十個理由
						.col-sm-1
						.col-sm-3.top-bordered
				.mid-container
					.row
						.col-sm-3
							span.down-arrow
						.col-sm-7.headline-container
							h2
								| To see farther we look closer.
							p 
								| 很多人都喜歡牛，牛是溫順的動物，有感情、情緒和智慧。聖雄甘地便曾形容牛是一首憐憫之詩（a poem of pity）值得我們憐愛、理解及尊重。生活在城市的我們很少有機會接觸牛，如果你不太認識牛，這裡有十個愛上牠的理由：
				.bottom-container
					.row
						.col-sm-2
							.top-bordered
						.col-sm-1
						.col-sm-3.top-bordered.emphased
						.col-sm-1
						.col-sm-3.top-bordered
		.text-block.section-1-text-block
			.layer-1
				.row
					.col-sm-2
					.col-sm-1
					.col-sm-3.col-xs-12
						strong
							| 牛很聰明						
						p
							| 別以為牛很愚蠢，其實牠聰明、好奇，且懂得思考和解決問題。曾有研究指牛具學習能力，能運用過往經驗去決定未來的行為。面對挑戰時，牛會興奮起來，心跳及腦電波都提升，甚至會跳起來，就像大叫：我做到了！
						strong
							| 牛很好記性
						p
							| 記得好好對待牛，因為牠記性很好，即使長時間後，仍能認得面孔。牠對空間亦有記憶，例如會記得食物、水、隱藏點、放牧處的位置，當然，還有自己孩子身處的地方。
					.col-sm-3.col-xs-12					
						strong
							| 牛有情緒
						p
							| 天氣差時，牛會不開心；陽光普照時，牠會微笑。像你和我一樣，牛會尋找樂趣，也喜愛玩耍。長時間被困室內後，牠在戶外會愉快地奔跑跳躍。感到不適時，牠會想離群獨處。牛有時表現得情緒化與敏感，可能會不喜歡某人或某牛，甚至記恨多年。
						strong
							| 牛會交朋友
						p
							| 牛會建立很強的羈絆和友誼，寧願花更多時間跟個別的牛或動物在一起，甚至有好朋友。曾有研究指，當牛與死黨們在一起時，壓力指數會下降；分開時則相反。牛會互相幫忙、學習、因同情及利他主義而做決定，甚至成為互相梳毛的好拍檔。
			.quote-container
				.row
					.col-sm-2
					.col-sm-1
					.col-sm-7
						p
							| In space the bacteria that transmit disease become more powerful. Understanding the triggers that make bacteria more virulent can lead to the development of effective antibiotics and vaccine candidates to treat diseases of the immune system.

			.layer-3
				.row
					.col-sm-3
					.col-sm-3.bottom-bordered
					.col-sm-1
					.col-sm-3.bottom-bordered.emphased
						p
							| Stem cell research, regenerative medicine and the growth of space-based cell cultures – engineering three dimensional, well-organized tissue growth in space can help us accelerate the development of potential life-saving therapies.
						p
							| We anticipate the GeneLab data collection effort will benefit drug development, gene-based therapies, and commercial big data interests, while demonstrating analytics and data processing possibilities.
		.fluid-image
			img(src="http://weanimals.org/pub/portfolio/Factory%20Farming/BB%20JA4_9501.jpg" alt="Soyuz modules as seen from the International Space Station")
