extends ../../layouts/default

//- BODY
block content
	article#download-center
		header.download-center-header
			.container: .row: .col-sm-10.col-sm-offset-1
				h1.text-center.mb-0 The VegsocHK Download Center
				p.lead.text-center.mt-1 You can download all the leafleft, restaurant guide...
			.download-center-hero
			.download-center-buttons
				.container: .row
					.col-sm-4
						.text-center: a(href='http://github.com/borisbozic/sydjs-assets', target='_blank').btn.btn-primary.btn-lg.btn-block
							span.entypo.entypo-down &nbsp;
							| Leafleaf
					.col-sm-4
						.text-center: a(href='http://github.com/borisbozic/sydjs-assets', target='_blank').btn.btn-primary.btn-lg.btn-block
							span.entypo.entypo-down &nbsp;
							| Restaurant Guide
					.col-sm-4
						.text-center: a(href='http://github.com/borisbozic/sydjs-assets', target='_blank').btn.btn-primary.btn-lg.btn-block
							span.entypo.entypo-down &nbsp;
							| Nutrition Guide

block js
	script.
		$(window).resize(function() {
			$('.download-center-hero').height($(window).height());
		});
		$(window).trigger('resize');
