extends ../../layouts/default

block intro
	article#download-center
		header.download-center-header
			.container: .row: .col-sm-10.col-sm-offset-1
				h1.text-center.mb-0 The VegsocHK Download Center
				p.lead.text-center.mt-1 You can download all the leafleft, restaurant guide...

//- BODY
block content
	article#download-center
		header.download-center-main
			.download-center-hero
			.download-center-buttons
				.row
					ul.list-group
						li.list-group-item.row
							.download-center-item-image.col-xs-4
								img(src="http://www.peta2.com/wp-content/uploads/2015/04/Meats-Not-Green-leaflet-571x370.jpg")
							.download-center-item-description.col-xs-8
								h2 Leaflet
								p vegan veganvegan veganvegan veganvegan veganvegan veganvegan veganvegan veganvegan veganvegan veganvegan veganvegan veganvegan veganvegan veganvegan veganvegan veganvegan veganvegan veganvegan
								a.download-center-download-button
									span Download
									i.glyphicon.glyphicon-download
						li.list-group-item.row
							.download-center-item-image.col-xs-4
								img(src="http://www.peta2.com/wp-content/uploads/2015/04/Meats-Not-Green-leaflet-571x370.jpg")
							.download-center-item-description.col-xs-8
								h2 Nutrition Guide
								p vegan veganvegan veganvegan veganvegan veganvegan veganvegan veganvegan veganvegan veganvegan veganvegan veganvegan veganvegan veganvegan veganvegan veganvegan veganvegan veganvegan veganvegan
								a.download-center-download-button
									span Download
									i.glyphicon.glyphicon-download
						li.list-group-item.row
							.download-center-item-image.col-xs-4
								img(src="http://www.peta2.com/wp-content/uploads/2015/04/Meats-Not-Green-leaflet-571x370.jpg")
							.download-center-item-description.col-xs-8
								h2 Restaurant Guide
								p vegan veganvegan veganvegan veganvegan veganvegan veganvegan veganvegan veganvegan veganvegan veganvegan veganvegan veganvegan veganvegan veganvegan veganvegan veganvegan veganvegan veganvegan
								a.download-center-download-button
									span Download
									i.glyphicon.glyphicon-download

block js
	script.
		$(window).resize(function() {
			$('.download-center-hero').height($(window).height());
		});
		$(window).trigger('resize');
